body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #00008b; 
    color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #fff; 
    color: #000; 
}

section {
    padding: 60px 20px;
    margin-top: 60px;
}

#home, #about, #services, #contact {
    height: 100vh;
    background-color: #faa6e5;
}

h1 {
    text-align: center;
}